/* Light Mode*/
body {
  background-color: white;
  color: black;
  transition: background-color 0.4s, color 0.4s;
}

/* Dark Mode */
body.dark-mode {
  background-color: black;
  color: white;
}

.theme-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.theme-checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.theme-checkbox:checked::before {
  transform: translateX(20px);
}

/* Back button styles */
.back-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

/* h1 styles */
h1 {
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
.email-header{
  margin-top: 5px;
  margin-left: 20px;
}

.email-body{
  margin-left: 20px;
}

