
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
  color: #080808; 
  transition: background-color 0.3s, color 0.3s; 
}

body {
  justify-content: center;
  align-items: center;
}

body.dark {
  background-color: #080808; 
  color: #ffffff; 
}

h1, h3 {
  margin: 10px;
  text-align: center;
}

.reset-message {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 20px; 
}


body.dark .reset-message {
  background-color: #333333;
  color: #ffffff; 
}

.back-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

.theme-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.theme-checkbox:checked::before {
  transform: translateX(20px);
}
.theme-checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

